*
  margin 0
  padding 0
  -webkit-tap-highlight-color rgba(255,0,0,0)

html
  font-size 110.4px

body
  margin 0
  color #191919
  font-size: 12px
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
  position relative

a, input 
  outline: 0

a
  color: #42bd56
  text-decoration: none

input, textarea, button, select, a
  -webkit-tap-highlight-color: transparent

section 
  margin-bottom 30px

.nav
  &__head
    width 100%
    position relative
    z-index 9999
    background #fff
    .nav-head__wrap
      .nav-primary
        display flex
        justify-content: flex-start
        align-items: center
        box-sizing: border-box
        height 50px
        position: fixed
        top 0
        left 0
        width 100%
        z-index 100
        padding 0 15px
        background-color: #fff
        box-shadow 0 1px 4px rgba(0,0,0,0.05)
        .logo
          display inline-block
          font-size: 0
          height 26px
          width 54px
          flex: 54px 0 0
          background url(./imgs/douban.png) 50% no-repeat
          background-size: contain
          margin-right 15px
          text-decoration none
          outline: 0
          color: #42bd56
          h1
            opacity 0
            margin 30px 0 5px
            font-size: 24px
            line-height: 32px
            word-break: break-all
            font-weight normal
        .search-box
          width 100px
          flex: 100px 0 0 
          height 30px
          border-radius 15px
          border 1px solid #dfdfdf
          color: rgba(0,0,0,0.25)
          background-color #f7f7f7
          font-size: 15px
          line-height: 21px
          padding-left 8px
          display: flex
          justify-content: flex-start
          align-items: center
          box-sizing: border-box
          .search-input
            box-sizing: border-box
            border 0 
            padding-left 20px
            background: url(./imgs/search.png)no-repeat 0
            background-size: 17.33333px
            border-radius 3px
            width 100%
            height 31px
            font-size: 14px
            outline: 0
            -webkit-tap-highlight-color: transparent
        .nav-btns
          flex: 1
          font-size: 15px
          line-height: 21px
          color #3ba94d
          text-align: right
          display: flex
          justify-content: flex-end
          align-items: center
          .nav-btn-item:last-child
            padding-right 0
            border-right 0
          .nav-btn-item:first-child
            padding-left 0
          .to_pc
            display inline-block
            width 20px
            height 19px
            background: url(./imgs/1.png) 100% no-repeat
            background-size: contain
      .nav-static
        left 0
        width 100%
        background-color: #f7f7f7
        justify-content: flex-start
        align-items: center
        margin-top 50px
        padding 0 18px
        height 60px
        box-sizing: border-box
        display: flex
        justify-content: space-between
        *
          white-space nowrap
        .icon-wrap
          margin-right 10px
          .icon
            width 39px
            height 39px
        a
          font-size: 0
          text-decoration: none
          outline: 0
          color: #42bd56
        .info
          flex: 1
          h2
            font-size: 15px
            line-height: 21px
            color: #191919
            margin 0
            font-weight: normal
          p
            font-size: 11px
            line-height: 16px
            color: #818181
            margin 0
        .btn.green
          background-color: #42bd56
          color: #fff
        .btn
          width 80px
          height 30px
          border-radius: 15px
          text-align: center
          font-size: 13px
          line-height 30px
        &:after
          content: ""
          position absolute
          top 0
          left 0
          border 1px solid #dfdfdf
          border-left none 
          border-right none 
          width 200%
          height 200%
          transform: scale(0.5) translateX(-0.5px) translateY(-0.5px)
          transform-origin left top
          pointer-events: none 

body .page, body #app, body .msite-max-width, body .msite-fixed-max-width
  max-width: 650px

.page
  padding-top 0
  background: #fff
  margin 0 auto
  overflow-x hidden
  .promo_top_banner
    margin-bottom 0
    max-width 100%
    overflow hidden
    text-align: left 
    position relative
  .subject-header-wrap
    padding 20px 15px 15px
    transform: all o.2s
    .sub-info
      min-height: 165px
      .sub-cover
        float left
        position relative
        z-index 1
        img 
          width 100px
          height 140px
          border-radius: 4px
          border 1px solid rgba(0,0,0,0.05)
          box-shadow 0 5px 10px rgba(0,0,0,0.15)
        .cover-count
          position absolute
          right 1px
          bottom 4px
          z-index 1
          width 20px
          height 20px
          text-align center
          color #fff
          background rgba(0,0,0,0.5)
          line-height 20px
          border-radius: 3px
          font-size: 11px
          padding 1px 5px
      .sub-detail
        margin-left 115px
        line-height 1.4
        min-height 140px
        position relative
        z-index 1
        .sub-title
          color #fff
          font-size: 23px
        .sub-original-title
          color #fff
          font-size: 15px
        .sub-meta
          color rgba(255,255,255,0.7)
          font-size: 11px
          padding 5px 0 5px
        .subject-mark
          margin-top 10px
          .mark-item
            margin-bottom 30px
            display: -webkit-box
            display: box
            display: -webkit-flex
            display: flex
            -webkit-box-align: center
            box-align: center
            -webkit-align-items center
            align-items center
            a
              height 30px
              line-height: 1
              display flex
              align-items center /*居中对齐弹性盒的各项 <div> 元素*/
              background-color #fff
              border-radius: 4px
              margin-right 10px
              color #191919
              font-size: 13px
              text-align center
              justify-content: center/*项目位于容器的中心*/
              max-width 50%
              -webkit-box-flex: 1
              flex: 1
              .wish
                background-image: url(./imgs/ic_mark_todo_s.png)
            .icon
              display inline-block
              vertical-align middle /*把此元素放置在父元素的中部*/
              line-height 1
              width 14px
              height 14px
              margin-right 5px
              background-repeat no-repeat
              background-position center /*将图片放置容器中间*/
              background-size: contain /*把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域*/
            &:last-child
              margin 0
              .done
                background-image: url(./imgs/ic_mark_done_s.png)
      &:after
        content: ''
        display: table
        clear both

.sub-score
  background-color: rgba(0,0,0,0.1)
  border-radius: 0.06rem
  padding 0.1rem 0.15rem 0.13rem
  margin-top -0.1rem
  .sub-trademark
    font-size: 11px
    color #fff
    position relative
    line-height 26px
    margin-bottom 1px
    display flex
    justify-content: space-between
    align-items center
    span 
      em
        display inline-block
        font-size: 10px
        position absolute
        z-index 1
        top -1px
        font-style normal
        transform: scale(0.7)
    .score-write
      font-size: 0.11rem
      color #fff
      border 1px solid #f9f9f9
      border-radius: 0.04rem
      line-height 1
      padding 0.06rem 0.05rem
      box-sizing: border-box
  .sub-content
    display flex
    justify-content: space-between
    align-items center
    .sub-rating
      display inline-flex
      width 50%
      position relative
      vertical-align bottom
      justify-content: flex-start
      align-items center
      .score-num
        display inline-block
        font-size: 0.36rem
        line-height 0.5rem
        margin-right 5px
        color #fff
      .star-display
        display inline-block
        box-sizing: border-box
        .rating
          .rating-stars
            display inline-block
            vertical-align middle
            .rating-star-medium-full
              width 0.13rem
              height 0.13rem
              background-size 0.13rem 0.13rem
              background-image url(./imgs/star.png)
            .rating-star
              display inline-block
              margin-right 1px
              background-color transparent
              background-repeat no-repeat
            .rating-star-medium-half
              width 0.13rem
              height 0.13rem
              background-size 0.13rem 0.13rem
              background-image url(./imgs/half-star.png)
        .done-count
          display block
          font-size 0.12rem
          color rgba(255,255,255,0.7)
          line-height 1
          margin-top 0.05rem
          margin 0
          em
            display inline-block
            font-size 0.12rem
            transform: scale(0.9)
            font-style normal
      &:after
        content: ''
        width 0.5px
        height 38px
        position absolute
        z-index 1
        top 6px
        right 0
        background: rgba(255,255,255,0.2)
    .sub-chart
      display inline-block
      vertical-align middle
      width 50% 
      .star-stats
        line-height 0
        position relative  
        text-align right 
        .stars-wrap
          margin-right 5px
          display inline-block
          vertical-align middle
          line-height 7px
          margin-bottom 1px 
          .rating-star-icon
            display inline-block
            width 7px
            height 7px
            background-size 7px 7px
            background-image url(./imgs/star1.png) 
        .chart-wrap
          width 1rem
          height 0.03rem
          background rgba(255,255,255,0.2)       
          border-radius: 3px
          position relative
          z-index 0
          display inline-block
          vertical-align middle
          line-height 7px
          margin-bottom 1px
          .rating-progress
            display inline-block
            background #FFAC2C
            height 0.03rem
            border-radius: 3px
            position absolute
            z-index 1
            top 0
            left 0

.sub-vendor
  background rgba(0,0,0,0.1)
  border-radius: 6px
  padding 13px 15px
  margin-top 10px
  .play-icon.grey-icon
    background-image url(./imgs/play.png)
  .play-icon
    display inline-block
    vertical-align middle
    width 23px
    height 23px 
    background-size cover
    background-repeat no-repeat
  .vendor-text
    display inline-block
    vertical-align middle
    font-size 15px
    color #fff
    margin-left 5px
  a
    .vendor-go-app
      display inline-block
      color rgba(255,255,255,0.7)
      vertical-align middle
      float right
      line-height 22px
      &:after
        content: '>'
        display inline-block
        font-size 11px
        color rgba(255,255,255,0.7)

.subject-banner
  width 100%
  padding 15px
  box-sizing border-box
  a
    img 
      width 100%
